* {
    user-select: none;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    font-family: sans-serif;
}

body {
    margin: 0;
}
.frame {
    background-color: transparent;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
}
.bg {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.head {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    font-size: 1.4rem;
    color: #a16533;
}
.head span {
    float: right;
}
.container {
    position: absolute;
    width: 100%;
    bottom: 2rem;
}
.quote {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    text-align: center;
}
#menu {
    position: absolute;
    background: rgba(220, 220, 220, 0.8);
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border-radius: 1rem;
    top: 1rem;
    left: 1rem;
    display: none;
    padding: 1rem;
    text-align: center;
}
.button {
    font-size: 0.8rem;
    border-radius: 0.2rem;
    background-color: #4040fa;
    color: white;
    padding: 0.5rem;
    text-align: center;
    width: 10rem;
    margin: auto;
}
.button:active {
    background-color: #a16533;
}
#uninstall_button {
    display: none;
}
